@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-pink-white: #fefcfc;
  --color-secondary-pink: #f2e9e9;
  --color-blue: #466174;
  --color-blue-hover: #7e98ab;
  --color-light-blue: #cfe0ed;
  --color-dark-blue: #335167;
  --color-blackish: #252424;
  --color-green: #7faa94;
  --color-white: #fff;
  --color-purple: #3f3cbb;
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}

:root {
  --background: #fefcfc;
  --foreground: #466174;

  --font-sans: var(--font-karla);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  --font-sans: var(--font-karla);
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}
